<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title th:text="#{cas.login.pagetitle}">Passwordless Display View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
    <main role="main" class="container mt-3 mb-3">
        <div layout:fragment="content" id="login" class="mdc-card mdc-card-content content">
            <div class="banner banner-danger mb-2" th:if="${error}">
                <strong  th:text="#{passwordless.error.title}" >Authentication Failure</strong>
                <p  th:text="#{passwordless.error.message}" >The provided token could not be verified. It may have been invalidated, removed or expired.</p>
            </div>
            <div class="right-content">
            <form method="post" id="fm1" class="d-block w-full digit-group" data-group-name="digits" data-autosubmit="false" th:action="@{/login}">
                <h5 class="main-color" th:text="#{passwordless.welcome.title}">Provide Token</h5>
                <p class="mt-3">لطفا رمز پویای دریافتی از طریق پیامک و یا ایمیل را اینجا وارد کنید. دقت کنید که رمز دریافتی تنها در بازه ی کوتاهی (120 ثانیه) قابل استفاده است.</p>
                <input type="hidden" name="_eventId_submit" value="LOGIN" />
                <input type="hidden" name="execution" th:value="${flowExecutionKey}" />
                <section class="cas-field my-3 flex-c-m w-full">
			<span class="main-color mx-3">رمز پویا</span>
			<div>
				<input type="text" id="digit-6" class="digit-member persian-numbers" data-previous="digit-5" autocomplete="off"/>
				<input type="text" id="digit-5" class="digit-member persian-numbers" data-next="digit-6" data-previous="digit-4" autocomplete="off"/>
				<input type="text" id="digit-4" class="digit-member persian-numbers" data-next="digit-5" data-previous="digit-3" autocomplete="off"/>
				<input type="text" id="digit-3" class="digit-member persian-numbers" data-next="digit-4" data-previous="digit-2" autocomplete="off"/>
				<input type="text" id="digit-2" class="digit-member persian-numbers" data-next="digit-3" data-previous="digit-1" autocomplete="off"/>
				<input type="text" id="digit-1" class="digit-member persian-numbers" data-next="digit-2" autocomplete="off"/>
			</div>
                                <input class="input"
                                       type="hidden"
                                       name="token"
                                       id="token"
                                       size="6"
                                       autocomplete="off" required  />
                </section>
		<div class="count-down-container flex-c-m my-3">
			<p>رمز پویای ارسالی پس از</p><div class="count-down mx-1" style="color: #f00;"></div><p>ثانیه منقضی خواهد شد.</p>
		</div>
                <div class="flex-se">
                    <button class="back-btn" type="button" onclick="window.location.href = '/';">
                        <span class="mdc-button__label">بازگشت</span>
                    </button>
                    <button class="passwordless-login-form-btn" accesskey="l" type="submit" style="width: 40%;">
                        <span class="mdc-button__label" th:text="#{screen.welcome.button.login}">Login</span>
                    </button>
                </div>
            </form>
            </div>
<script>
  (function ($){
    "use strict";
    $(document).ready(function() {
      let seconds = 120, cd = $(".count-down");
      cd.text(seconds);
      let countdown = window.setInterval(function() {
        if (seconds > 0) {
          seconds--;
          cd.text(seconds);
        } else {
          $(".count-down-container").html("<p>رمز پویای ارسالی منقضی شده است.</p>");
          clearInterval(countdown);
        }
      }, 1000);
    });
    $(".digit-group").find(".digit-member").each(function() {
      $(this).attr("maxlength", 1);
      const list = ["a", "b", "c", "d", "e", "f", "g", "h", "i"];
      $(this).on("keypress", function(e) {
        if(list.includes(String.fromCharCode(e.keyCode))) {
          e.preventDefault();
        } else if((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 8 || e.keyCode === 37 || e.keyCode === 39) {
        } else {
          e.preventDefault();
        }
      });
      $(this).on("keyup", function(e) {
        let parent = $($(this).parent());

        if(e.keyCode === 8 || e.keyCode === 37) {
          let prev = parent.find("input#" + $(this).data("previous"));

          if(prev.length) {
            $(prev).select();
          }
        } else if((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
          let next = parent.find("input#" + $(this).data("next"));

          if(next.length) {
            $(next).select();
          } else {
            if(parent.data("autosubmit")) {
              parent.submit();
            }
          }
        }
      });
    });
    $(".passwordless-login-form-btn").on("click", function(e) {
      let tempValue = $("#digit-1").val().trim() + $("#digit-2").val().trim() + $("#digit-3").val().trim() + $("#digit-4").val().trim() + $("#digit-5").val().trim() + $("#digit-6").val().trim();
      if (tempValue.length == 6){
        $("#token").val(tempValue);
        console.log($("#token").val());
      }else{
      	console.log($("#token").val());
      }
    });
  })(jQuery);
</script>
        </div>
    </main>
</body>

</html>

