
body {
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: IRANSans, Helvetica, Arial, sans-serif;
}
html{
    direction:rtl;
    height: 100%;
    margin: 0;
}
/*
// Views
@import "views/login";
@import "views/dashboard";

// Global rules
*/
.rtl {
  direction: rtl;
}

.input-ltr {
  
    direction: ltr;
  
}

.card .card-header {
  background: #fff;
}

.link-unstyled {
  color: inherit !important;
  text-decoration: none !important;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-hidden {
  overflow: hidden !important;
}


.wizard-tab-content {
  direction: rtl;
}

.login .card{
  background: hsla(0,0%,95%,.8);
}
header > .navbar{
	background-color: #007bff;
}
.alert{
	padding: 0.6rem 2.5rem;
	font-size:small;
}
.sidebar-content{
	font-size:0.75rem;
}

#serviceui.alert {
    padding-right: 0.5rem;
    border-radius: 1rem;
}

.btn-submit {
    background-color: #007bff;
}
footer {
    position: absolute;
}

.parsso-bgc {
  background: hsla(0,0%,95%,.8);
}

@media all and (max-width: 1150px) {
  .flex-md-row {
    flex-direction: column !important;
  }
}
#overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

#overlayContent{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 80%;
    color: black;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    border-radius: 5px;
    z-index: 11;
    padding: 20px;
}

#overlayBody{
    height: 90%;
    overflow: auto;
}

#closeOverlay{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    color: white;
    background-color: #dc3545;
    border-radius: 5px;
    z-index: 12;
    cursor: pointer;
    padding: 5px;
    text-align: center;
}

#overlayBodyHeader{
    text-align: center;
    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 20px;
}
